name: Windows x86

on:
  push:
  pull_request:
  release:
    types:
      - published

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: src/Native.sln

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

permissions:
  contents: read

jobs:       
  build-windows-x86:
    runs-on: [windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1.3

    - name: Setup VSTest Path
      uses: darenm/Setup-VSTest@v1.2
      
    - name: vcpkg integrate install
      run: C:\vcpkg\vcpkg.exe integrate install

    - name: Cache vcpkg_installed
      uses: actions/cache@v3
      with:
        path: 'src/Benchmarking/vcpkg_installed'
        key: vcpkg_installed-x86-${{env.BUILD_CONFIGURATION}}
      
    - name: Build Solution (x86)
      working-directory: ${{env.GITHUB_WORKSPACE}}     
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} /p:Platform=x86 ${{env.SOLUTION_FILE_PATH}}   
    
    - name: Unit Tests (x86)
      working-directory: ${{env.GITHUB_WORKSPACE}}     
      run: vstest.console.exe /Platform:x86 'src/**/*tests*.dll' 

    - name: Benchmarking (x86)
      working-directory: ${{env.GITHUB_WORKSPACE}}     
      run: src/Benchmarking/bin/Release/Win32/Benchmarking.exe --benchmark_format=json | Out-File -FilePath .\benchmark-data-x86.json
    
      # Download previous benchmark result from cache (if exists)
    - name: Download previous benchmark data
      uses: actions/cache@v4
      with:
        path: ./cache
        key: ${{ runner.os }}-benchmark-x86

      # Run `github-action-benchmark` action
    - name: Store benchmark result
      uses: benchmark-action/github-action-benchmark@v1
      with:
        # What benchmark tool the benchmark output file came from
        tool: 'googlecpp'
        # Where the output from the benchmark tool is stored
        output-file-path: benchmark-data-x86.json
        # Where the previous data file is stored
        external-data-json-path: ./cache/benchmark-data-x86.json
        # Workflow will fail when an alert happens
        fail-on-alert: true
        # GitHub API token to make a commit comment
        github-token: ${{ secrets.GITHUB_TOKEN }}
        # Enable alert commit comment
        comment-on-alert: true
        # Mention @rhysd in the commit comment
        alert-comment-cc-users: '@MartinKuschnik'
